/*
colors used:
Primary colour (Black): #000000;
Secondary Colour (Snow): #FFFAFA;
Hover state (Green): #00AB84;
active link (dark green): #00785d;
visited link (blue): #0071C5;
background color: #D3D8DC;
*/
/* Layout styling */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.logo {
  color: #fffafa !important;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  line-height: 2;
  max-width: 250px;
  align-content: center;
  text-decoration: none !important;
}

header {
  background-color: #378373;
  border-bottom: 2px solid #00785d;
  margin: 0 auto;
  box-shadow: 0 0 9px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
  z-index: 9999;
}

main {
  padding-top: 56px;
}

#hero {
  background-color: #fffafa;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
}

.about {
  background-color: #fff !important;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
}

.skills {
  background-color: #c7d8c6;
  margin: 20px auto;
  padding: 10px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fffafa;
}

nav>ul>li>a:visited {
  color: #000;
}

nav>ul>li>a:hover {
  color: #00ab84;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #000;
}

nav a {
  color: #fffafa !important;
}

nav a:hover {
  color: #00ab84;
}

nav a:active {
  color: #fffafa;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive nav {
  padding: 20px 0 0;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 14px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 120, 0, 93);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000;
}

h1,
h2,
h3 {
  line-height: 1.4;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
}

h2 {
  font-size: 1.7em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  color: #006b99;
  line-height: 1.1em;
}

img {
  width: 100%;
}

a {
  color: #000;
  text-decoration: none;
  transition: 0.4s opacity;
}

a:visited,
a:active {
  color: #00ab84;
}

a:hover {
  color: #000;
  text-decoration: underline;
  opacity: 0.8;
}

.button {
  display: inline-block;
  background-color: #00785d;
  color: #fff !important;
  font-weight: 400;
  padding: 15px 30px;
  border-bottom: 2px solid #00785d;
  transition: 0.2s opacity;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 13px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  color: #00ab84;
  opacity: 0.8;
  text-decoration: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button.contact {
  background-color: #fff;
  color: #00785d !important;
  text-transform: uppercase;
  border: 2px solid #00785d;
  text-align: center;
  border-radius: 12px;
  transition: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button.contact:hover {
  background-color: #00ab84;
  color: #fff !important;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button.contact:active {
  color: #00785d;
}

.button.previous {
  background-color: #fff;
  color: #00785d !important;
  display: block;
  text-align: center;
  font-weight: 400;
  padding: 15px 30px;
  border: 2px solid #00785d;
  transition: 0.2s;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0);
  margin: 30px 0;
}

.button.next {
  background-color: #fff;
  color: #00785d !important;
  display: block;
  text-align: center;
  font-weight: 400;
  padding: 15px 30px;
  border: 2px solid #00785d;
  transition: 0.2s;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0);
  margin: 30px 0;
}

.center {
  text-align: center;
}

.top {
  text-align: left;
  line-height: 4;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #379683;
  border-top: 3px solid #00785d;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.icons {
  width: 100%;
  font-size: 1.6em;
  align-content: center;
  margin: 0;
  padding: 10px 0;
}

.icons ul {
  list-style-type: none;
  padding: 0;
}

.icons li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.icons ul>.icons li>.icons a {
  padding: 0 10px;
}

.icons a {
  color: #fffafa;
}

.icons a:hover {
  color: #00ab84;
}

.icons a:active {
  color: #000;
}

.copyright {
  font-size: 14px;
}

/* VOCAB project */
.Emmet {
  margin: auto;
  display: inline-block;
  color: #000;
  padding: 10px 25px;
  border: 2px solid #006b99;
  transition: 0.2s opacity;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 13px 0 rgba(0, 0, 0, 0.19);
}

.subtitle {
  text-align: center;
  color: #08548c;
}

.quote {
  font-size: 1.4em;
  font-weight: 300;
  color: #006b99;
}

.statement {
  background-color: #fff;
  margin: 0 0 20px;
  padding: 5px;
  border: 2px solid #006b99;
  transition: 0.2s opacity;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 13px 0 rgba(0, 0, 0, 0.19);
}

.statement h4 {
  text-decoration: underline;
}

.task {
  color: #006b99;
}

#wireframe img {
  margin-bottom: 20px;
}

#problem {
  margin-bottom: 30px;
}

/* Layout styling: ANIMATION */
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    padding: 0;
    border-top: none;
  }

  .logo {
    float: left;
  }

  #hero span {
    display: block;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  .button.previous {
    float: left;
  }

  .button.next {
    float: right;
  }

  .skills {
    margin: 30px auto;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px;
  }

  .row {
    margin: 0 auto;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }

  img {
    width: 100%;
  }

  #backpicture img {
    width: 100%;
    display: block;
    margin: 27px auto;
  }

  #work img {
    width: 100%;
    display: block;
    margin: 27px auto;
  }

  #interviews img {
    width: 100%;
    display: block;
    margin: 27px auto;
  }

  #personas img {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }

  #journeys img {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }

  #sitemap img {
    width: 100%;
    display: block;
  }

  #wireframes img {
    width: 100%;
    display: block;
  }

  #testing img {
    width: 100%;
    display: block;
    margin: 27px auto;
  }

  #problems img {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  #design img {
    width: 100%;
    display: block;
  }

  /* VOCAB PROJECT */
  #flow2 img {
    display: block;
    margin: 70px auto;
  }

  .Emmet {
    margin: 60px 0;
  }

  .statement {
    margin: 20px 0;
  }

  #wireframe img {
    margin: 65px 0;
  }

  #problem {
    margin-bottom: 40px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  /* VOCAB PROJECT */
  #flow2 img {
    display: block;
    margin: 20px auto;
  }

  .Emmet {
    margin: auto 0;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  body {
    font-size: 20px;
  }

  .col-xl-12 {
    width: 100%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .row-xl-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 20px;
    margin: 0 auto;
  }

  p,
  li {
    max-width: 800px;
    margin: 16px auto;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    margin: 25px auto;
  }

  .Emmet {
    margin: 80px 0;
  }
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}
